@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #070707;
  color: whitesmoke;
}
.NavHover::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: whitesmoke;
  transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.NavHover:hover::before {
  width: 100%;
}
@layer utilities {
  /* .NavHover {
    @apply before:absolute before:content-[""] before:top-2 before:block before:w-full before:h-[1px] before:bg-white hover:before:w-full;
  } */
  .textNeutral800 {
    @apply text-[#070707];
  }
  .textNeutral700 {
    @apply text-[#232323];
  }
  .textNeutral600 {
    @apply text-[#363636];
  }
  .textNeutral500 {
    @apply text-[#696969];
  }
  .textNeutral400 {
    @apply text-[#9D9D9D];
  }
  .textNeutral300 {
    @apply text-[#F3F3F3];
  }
  .textNeutral200 {
    @apply text-[#CECECE];
  }
}
